<div class="container navigation_bar">
  <h3>Editing Task</h3>
  <%= render 'form', task: @task %>
  <%= link_to 'Show', @task, class:"btn btn-secondary btn-create" %> 
  <%= link_to 'Back', tasks_path, class:"btn btn-secondary btn-create" %>
</div>
