<div class="container">
    <h3>Editing Label</h3>
    <%= render 'form', label: @label %>
    <%= link_to 'Show', @label , class:"btn btn-secondary"%> |
    <%= link_to 'Back', labels_path, class:"btn btn-secondary" %>
</div>
